{% extends 'base.html' %}
{% block content %}
<div id="about" class="container">
	<div class="row">
		<div class="col-xs-12">
            <a href="{% url 'home' %}">< Go back to homepage</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-5">
			<h1>About Us</h1>
			<p>
				Canadian Crop Insurance Directory was created with the goal of helping farmers get the best crop hail insurance rates possible. Use our app to determine the lowest rates and best insurance rates available for your specific needs. We take 0% commission on sales so you can get the best price guaranteed!
			</p>
		</div>
		<div class="col-sm-7">
			<h2>FAQ</h2>
			<p>
				<b>Is C.C.I.D. an agent of a crop hail insurance company?</b>
				<p>No, we are independent and in no way an agent of representative of any insurance providers. This is how we provide our users with the best rates available!</p>

				<b>When does my Hail Insurance take effect?</b>
				<p>Hail Insurance becomes effective noon the day following the date of application if received by the Insurance company before midnight.</p>

				<b>When does my Hail Insurance policy expire?</b>
				<p>Your policy will expire at 12 noon standard time on October 15th or when the crop has been harvested, whichever comes first.</p>

				<b>Can I insure my crop for more than it's worth?</b>
				<p>Insurance limits purchased should be adequate to replace only the income lost due to hail.</p>

				<b>I would like to advertise on your site. How can I get in contact?</b>
				<p>Please contact us <a href="/#contact">here</a></p>
			</p>
		</div>
	</div>
</div>
{% endblock %}