{% extends 'base.html' %}
{% load staticfiles %}
{% block extendhead %}
    <meta http-equiv="refresh" content="10; url={% url 'quote' sec %}" />
{% endblock extendhead %}
{% block content %}
<div class="container" id="ads-container">
    <div class="row">
        <div class="col-xs-12">
            <img class="loader-gif" src="{% static 'gfx/loader.gif' %}" /><br />
            Please wait, we're processing your request...<br />
            Your browser should redirect in about 10 seconds.
            <!-- If it doesn't, please <a href="#">click here</a>. -->
        </div>
        <div id="hail-fact" class="col-xs-12 text-center">
            <p>{{ fact }}</p>
        </div>
        <div id="ads-container-inner">
            {% for ad in ads %}
                <div class="ad col-xs-12">
                    <img src="{{ ad.image.url }}"></a>
                </div>
            {% endfor %}
        </div>
        <div class="col-xs-12">
            <br />
            <a href="{% url 'home' %}">Go back to homepage</a>
            <br />
        </div>
    </div>
</div>
{% endblock content %}