{% extends 'base.html' %}
{% load staticfiles bootstrap_forms %}

{% block content %}
    <!-- BACKGROUND -->
    <div id="page-overlay"></div>
    <video id="background" playsinline autoplay muted loop>
        <source src="{% static 'vids/wheat.mp4' %}" type="video/mp4">
    </video>
    <!-- BACKGROUND END -->

    <div id="main-page-wrapper">
        
        <!-- LOGO MENU -->    
        <div id="logo-big">
            <img src="{% static 'gfx/logo.png' %}" />
        </div>

        <div id="menu-wrapper">
            <ul id="menu">
                <li><a href="#">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <!-- LOGO MENU END -->

        <div class="clearfix"></div>
        
        <!-- HEADER-1 -->
        <div id="header-1" class="header">
            MAKE THE RIGHT<br/>
            DECISION THIS SEASON
        </div>
        <!-- HEADER-1 END -->

        <!-- HEADER-2 -->
        <div id="header-2" class="header">
            Enter your land location and select your coverage below<br/>
            to instantly compare rates!
        </div>
        <!-- HEADER-2 END -->

        <!-- CALCULATOR -->
        <div id="calculator-wrapper">
            <div class="calc-header">
                CALCULATE YOUR RATE
            </div>
            <form action="{% url 'calculate_rates' %}" method="POST">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-title">Land location</div>
                            <hr />
                            {{ land_form|as_bootstrap }}

                        </div>
                        <div class="col-sm-6">
                            <div class="form-title">Crop info</div>
                            <hr />
                            {{ crop_form|as_bootstrap }}
                            <div>
                                <input href="{% url 'calculate_rates' %}" id="calculate_rates" type="submit" class="btn btn-lg btn-primary btn-block" value="Compare rates!">
                            </div>
                        </div>
                    </div>
                </div>
            {% csrf_token %}
            </form>
        </div>
        <!-- CALCULATOR END -->

        <!-- HEADER-3 -->
        <div id="header-3" class="header">
            CALL 1-306-715-1288<br/>
            <small>FOR ASSISTANCE WITH YOUR QUOTE</small>
        </div>
    </div>

    <div id="features-wrapper" class="container-fluid">
        <div class="row">

            <div class="feature col-sm-4">
                <div class="inner">
                    <div class="icon"><img src="{% static 'gfx/icon-story.png' %}" /></div>
                    <div class="title">Our Story</div>
                    <div class="desc">
                        Our mission is to make insurance easy!
                        We don't take any commissions on sales, best price guaranteed!
                    </div>
                </div>
            </div>

            <div class="feature col-sm-4">
                <div class="inner">
                    <div class="icon"><img src="{% static 'gfx/icon-vision.png' %}" /></div>
                    <div class="title">Our Vision</div>
                    <div class="desc">
                        CCID was created with the concept of equipping
                        Canadian farmers with the information they need.
                    </div>
                </div>
            </div>

            <div class="feature col-sm-4">
                <div class="inner">
                    <div class="icon"><img src="{% static 'gfx/icon-tech.png' %}" /></div>
                    <div class="title">Technology</div>
                    <div class="desc">
                        Use our application to compare premiums
                        from all the leading agro-Insurance providers.
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- CONTACT -->
    <div id="contact-wrapper">
        <div id="contact" name="contact">
            <form>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="title">Get in Touch</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <input placeholder="Name" type="text" class="form-control" />
                        </div>
                        <div class="col-sm-6">
                            <input placeholder="Email" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <textarea placeholder="Message" rows="7"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="submit" value="Send" class="btn btn-primary form-control" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- CONTACT END -->
{% endblock content %}
