{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div id="business" class="container">
        <div class="homego row">
            <div class="col-xs-12">
                <a href="{% url 'home' %}">< Go back to homepage</a>
            </div>
        </div>
        <div class="row">
            <div id="companies" class="col-sm-8">
                <div class="container-fluid">
                    {% for result in crawler_request.crawlerresult_set.all %}
                    <div class="company row">
                        <div class="logo col-sm-5 col-xs-12">
                            <img src="{{ result.business.image.url }}" />
                        </div>
                        <div class="text col-sm-7 col-xs-12">
                            <div class="name">{{ result.business.name }}</div>
                            <div class="price">${{ result.premium }}</div>
                            <div class="desc">
                                {{ result.business.desc }}
                            ​</div>
                            <div class="buy">
                                <a href="#" class="btn btn-lg btn-primary">Buy now</a>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="row">
                        <div class="col-xs-12">
                            <b>Sorry!</b><br />
                            No companies were found matching provided criteria.
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div id="results-ads" class="col-sm-4">
                <a href="http://placehold.it"><img src="http://placehold.it/600x200"></a>
                <a href="http://placehold.it"><img src="http://placehold.it/600x200"></a>
                <a href="http://placehold.it"><img src="http://placehold.it/600x200"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 disclaimer" class="col-xs-12">
                *rates subject to change
            </div>
        </div>
    </div>
{% endblock content %}
