#contact-wrapper {
	width:100%;
	padding-top: 320px;
	background-image: url('../gfx/tractorbg.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

#contact {
	width:560px;
	margin:0 auto;
}

#contact textarea {
	color:#00b9e8;
	padding:10px;
	width: 100%;
}

#contact input[type='text'] {
	color:#00b9e8;
}

#contact input {
	border-radius: 0;
	margin-bottom:15px;
}

#contact span.title {
	color: #FFFFFF;
	font-weight: bolder;
	font-size:3em;
}