@import url('https://fonts.googleapis.com/css?family=Raleway');
html, body {margin:0;padding:0;font-size:14px;font-family: 'Raleway';}
hr {margin-top:10px;}
#header-1 {
    font-size:3em;
    margin-top:20px;
    font-weight:bold;
}
#header-2 {
    font-size:1.4em;
    margin-top:20px;
}
#header-3 {
    font-size:3.2em;
    margin-top:50px;
    margin-bottom:50px;
    font-weight:bold;
}
.header {
    text-shadow: 0px 0px 15px #555;
    text-align: center;
    color:#FFF;
}
#header-1 .inner {
    width: 50%;
    margin: 0 auto;
}

#main-page-wrapper {
    width:92%;
    margin: 0 auto;
    padding-top:20px;
}

#page-overlay {
    background-size: cover;
    background-color: rgba(200,200,200,0.4);
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -99;
    transform: translateX(-50%) translateY(-50%);
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

@media only screen and (max-width: 960px) {
    #header-1 {
        font-size:2.2em;
    }
    #header-2 {
        font-size:1.4em;
    }
}

#ads-container {
    padding-top: 30px;
    text-align: center;
}
#ads-container .loader-gif {
    margin-bottom: 10px;
}

#ads-container .ad {
    margin-top: 15px;
}

#ads-container-inner img {
    width:100%;
    max-width:600px;
}

.disclaimer {
    margin-bottom:20px;
    font-size:0.8em;
    opacity: 0.67;
    text-align: center;
}

#about {
    margin-top:50px;
}

#hail-fact {
    font-weight: bold;
    font-size:1.2em;
    padding-top:20px;
    padding-bottom:20px;
}